<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.GuestMapper">
	<resultMap type="com.java.guestDto.GuestDto" id="guestDto">
		<result property="num" column="num" />
		<result property="name" column="name" />
		<result property="password" column="password" />
		<result property="message" column="message" />
		<result property="writeDate" column="write_date" />
	</resultMap>
	
	<select id="guestCount" resultType="int">
		select count(*) from guest
	</select>  
	
	<select id="guestList" resultMap="guestDto" parameterType="java.util.HashMap" >
		<![CDATA[
			select * from (
				select rownum rnum, a.* from(
					select * from guest order by num desc) a )
						where rnum >= #{startRow} and rnum <= #{endRow}
		]]>
	</select>
	
	<insert id="insertGuestDto" parameterType="com.java.guestDto.GuestDto">
		insert into guest values(guest_num_seq.nextval , #{name} , #{password} , #{message} , #{writeDate})
	</insert>
	
	<delete id="deleteNum" parameterType="int">
		delete from guest where num=#{num}
	</delete>
</mapper>